* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    font-family: sans-serif;
}

h1{
    background-color: rgb(52, 40, 72);
    color: rgb(231,231,231);
    padding: 20px;
}

h2 {
    margin: 20px;
}

button {
    display: block;
    margin: 100px auto;
    font-size: 24px;
    outline: none;
    border: none;
    background-color: grey;
}

label {
    margin-right: 10px;
}

input{
    margin-left: 10px;
}

p{
    font-size: 24px;
}